header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid;

  height: 10vh;
}

header figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
form h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-tarefa {
  display: flex;
  justify-content: space-evenly;

  justify-content: center;
  align-items: center;
  height: 5rem;
}
#tabelaDados {
  width: 90%;
}
.button {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
